$color_blue: #19297c;
$color_blue-light: #6290c8;
$color_grey-light: #f6f8f9;
$color_grey-mid: #e6e6f0;
$color_grey-dark: #5b5f71;
$color_light: #ffffff;

body {
  margin: 0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: $color_grey-dark;
  background-color: $color_grey-light;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: $color_grey-dark;
  margin: 0;
  margin-bottom: 1rem;
}

p {
  margin: 0;
  margin-bottom: 1rem;
}

img {
  width: 100%;
  height: auto;
}

.nav {
  position: sticky;
  top: 0;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  background-color: $color_blue;
  box-shadow: 0px 9px 26px 0px rgba(0, 0, 0, 0.23);

  a {
    margin: 0;
    text-decoration: none;
    color: $color_light;
  }

  &__title {
    font-size: 2.5rem;
    padding: 1rem 0;
  }

  &__links {
    li {
      display: inline-block;

      &:first-child {
        margin-right: 3rem;
      }
    }
  }
}

.main {
  padding: 2rem;
}

.logged-in-user {
  margin-left: auto;
  padding: 1rem 2rem;
  flex: 0 1 20%;
  background-color: $color_blue-light;

  p {
    color: $color_grey-mid;
  }

  &__status {
    margin: 0;
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }
}

.add-message {
  form {
    margin: 0;
  }

  hr {
    margin-top: 2rem;
  }
}

.list-container {
  padding: 2rem 0;
  max-width: 1000px;
}

.list-entry {
  margin-bottom: 1rem;
  height: 12rem;
  background-color: $color_light;
  display: flex;
  flex-direction: column;
  border-radius: 0.6rem;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);

  a {
    text-decoration: none;
    color: $color_grey-dark;
  }

  p {
    margin: 0;
  }

  &__date {
    background-color: $color_blue;
    color: $color_grey-mid;
    padding: 0.5rem;
  }

  &__date-text {
    line-height: 1;
  }

  &__inner {
    display: flex;
    flex: 1;
  }

  &__side-tab {
    width: 20%;
    background-color: $color_grey-mid;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__message {
    width: 80%;
    padding: 1rem 0.5rem;
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem !important;
  }
}

form {
  max-width: 500px;
  margin-top: 1rem;

  label,
  .form-control {
    display: block;
  }

  label {
    margin-bottom: 0.2rem;
  }

  .form-control {
    margin-bottom: 1rem;
    width: 100%;
  }
}
