doctype html
html
  head
    title Members only | #{title}
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
      nav.nav
        div.nav__title
          a(href="/") Members only
        div.nav__links
          ul
            li
              a(href='/signup') Sign up
            li
              a(href='/login') Log in

      main.main
        block content