doctype html
html
  head
    title Members only | #{title}
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
      nav.nav
        div.nav__title
          a(href="/") Members only

        div.nav__links
          ul
            if (!user) 
              li
                a(href='/signup') Sign up
              li
                a(href='/login') Log in

            if (user)
              if (user.status == 'Basic') 
                li
                  a(href='/member') Become a member
              
              if (user.status == 'Member' && !user.admin) 
                li
                  a(href='/admin') Become an admin

              li
                a(href='/logout') Log out
            

      main.main
        block content