doctype html
html
  head
    title Members only | #{title}
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
      nav.nav
        div.nav__title
          a(href="/") Members only

        div.nav__links
          ul
            if (!currentUser) 
              li
                a(href='/user/signup') Sign up
              li
                a(href='/user/login') Log in

            if (currentUser)
              if (currentUser.status == 'Basic') 
                li
                  a(href='/member') Become a member
              
              if (currentUser.status == 'Member' && !currentUser.admin) 
                li
                  a(href='/admin') Become an admin

              li
                a(href='/user/logout') Log out
        
        if (currentUser)
          div.logged-in-user
            p.logged-in-user__email #{currentUser.username}
            if currentUser.status == 'Basic'
              p.logged-in-user__status Basic
            else if currentUser.admin
              p.logged-in-user__status Member (admin)
            else
              p.logged-in-user__status Member
             
                       

      main.main
        block content